#backdrop{
    position: absolute;
    height:100em;
    width:100%;
    background-color: rgba(0, 0, 0, 0.562);
}
#cart{
    width:60%;
    position: absolute;
    align-self: center;
    background-color: white;
    margin-left:250px;
    margin-top: 20px;
    border-radius: 15px;

}
#order-button{
    height:50px;
    width:150px;
    border-color: white;
    background-color: orange;
    border-radius: 5px;
    margin: 15px;
    margin-left:300px;
}
#crossimg{
    height:25px;
 
    margin: 0px;
}
#crossbut{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    padding: 0px;
    background-color: rgba(255, 255, 240, 0);
    margin-left: auto;

}
#cartimg{
    height:60px;margin-left: 25px;
    
}
#headimg{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#cart-heading{
    margin-left: 325px;
}
.totaldiv{
    font-size: 25px;
    font-weight: bolder;
}
#HomeBut{
    margin:25px;
    margin-left: 325px;
    height:50px;
    width:150px;
    font-size:25px;
    background-color: orange;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
    border-color: white;

}
#EYF{
    
}