#food-item{
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.527);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: orange;
    background-image: linear-gradient(to bottom right, rgb(255, 115, 0), rgb(235, 179, 75));
    padding:25px;
    border-radius: 5px;
    margin:10px;
}
input:focus{
    outline: none;
}
.changebutton:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.changebutton{
 
    border-radius: 100%;
    height:30px;
    width:30px;
    background-color: white;
    border : none;
    color:black;
    font-weight: bolder;
    font-size: larger;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
#food-img{
    
    
    background-color: white;
    height:80px;
    width:80px;
    border-radius: 100%;
}
#amount{
    height: 40px;
    width: 120px;
    margin-top: 10px;
    border-radius:15px;
    border-color: orange;
}
#add-to-cart{
    height:50;
    width: 120px;
    margin-top: 5px;
    border-radius:15px;
    border-color: orange;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 100%;
    background-image: linear-gradient(to bottom,white,rgba(255, 255, 255, 0.438));
}
#add-to-cart:hover{box-shadow: 0px 7px 7px 0 rgba(248, 52, 3, 0.158), 0px 7px 7px rgba(255, 38, 0, 0.178);}