#Navbar{
    display:flex;
    flex-direction: row;
    /* justify-content: space-around;  */
    align-items: center;
    /* grid-auto-columns: 450px 350px 0px 300px 100px; */
    /* background-color: rgb(235, 156, 11); */
    background-image: linear-gradient(to right, rgb(255, 115, 0), rgb(235, 179, 75));
    position: initial;
    top:0.1px;
    
    
}
#logo{
    /* grid-column-start: 0; */
    /* grid-column-end: 1; */
    height: 75px;
    width: 75px;
    border-radius: 100%;
}
#ItemNo{
    border-radius :100%;
    background-color: orange;
    color: white;
    



}
#heading{
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 20px;
    color:white;
    font-style: oblique;
    margin-top: 15px;
}
    


#UserName{
    /* grid-column-start: 4;
    grid-column-end: 5; */
    margin-right:10px;
   padding-top: 10px;
   color:white;
    font-size: x-large;
}
#cart-button{
    width:150px;
    /* margin:20px 5px 20px 5px ; */
    
    /* grid-column-start: 5;
    grid-column-end: 6; */
    border-radius:15px;
    border-color: orange;
    font-weight: 100;
    font-size: 2;
    font-family: sans-serif;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
    
}
#head-part{
    display: flex;
    flex-direction: row;
    margin: 10px;
    float: left;

}
#bottom-part{
    display: flex;
    flex-direction: row;
    margin: 15px;
   margin-left: auto;

}
#cart-button:hover{
    box-shadow: 0px 7px 7px 0 rgba(248, 52, 3, 0.158), 0px 7px 7px rgba(255, 38, 0, 0.178);
}
#cart-img{
    height:35px;
}
#cart-text{
   display: inline;
   font-size: 2;
}