#Navbar{
    display:grid;
    grid-auto-columns: 450px 350px 300px 100px;
    background-color: rgb(235, 156, 11);
    position: initial;
    top:0.1px;
    
    
}
#ItemNo{
    border-radius :100%;
    background-color: orange;
    color: white;
    



}
#heading{
    grid-column-start: 0;
    grid-column-end: 1;
    padding-left: 20px;
    color:white;
    font-style: oblique;
    margin-top: 25px;
    

}
#cart-button{
    width:120%;
    margin:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-column-start: 4;
    grid-column-end: 5;
    border-radius:15px;
    border-color: orange;
    font-weight: bolder;
    font-family: sans-serif;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
    
}
#cart-img{
    height:35px;
}
#cart-text{
   display: inline;
   font-size: 2;
}